.Gallery {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-around;
}

.Gallery img {
     width: 200px;
     height: 150px;
}

li{
    background-color: rgb(105, 166, 166);
    border-radius: 15px;
    width: 200px;
}
.Gallery p
{
    font-size: 18px;
    display: flex;
    justify-content: center;
}